@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "partials/_variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "partials/_fonts";
@import "partials/_commons";

// _ NAVBAR //
.navbar{
    text-transform: uppercase;
    .navbar-brand{
        .logo{
            height: 40px;
        }
    }
    .navbar-toggler {
        border: none;
        background: transparent;
        width: 54px;
        padding: 0.25rem 0.75rem;
        &:hover {
            background: transparent;
        }
        &:focus {
            outline: none;
        }
        .icon-bars{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            .icon-bar {
                position: absolute;
                height: 2px;
                width: 30px;
                background-color: $white;
                display: block;
                transition: all 0.2s;
                top: 50%;
                transform: translateY(-50%);
            }
            .top-bar {
                transform: rotate(45deg);
            }
            .middle-bar{
                background-color: transparent;
            }
            .bottom-bar {
                transform: rotate(-45deg);
            }
        }
        
        &.collapsed {
            .icon-bars{
                .top-bar {
                    transform: rotate(0deg) translateY(-11px);
                }

                .middle-bar{
                    background-color: $white;
                }

                .bottom-bar {
                    transform: rotate(0deg) translateY(9px);
                }
                &:hover{
                    .top-bar{
                        transform: translateY(0px);
                    }
                    .middle-bar{
                        transform: translateY(0px);
                    }
                    .bottom-bar{
                        transform: translateY(0px);
                    }
                }
            }
        }
    }
    .language-toggler {
        border: none;
        background: transparent;
        width: 54px;
        padding: 0.25rem 0.75rem;
        &:hover {
            background: transparent;
        }
        &:focus {
            outline: none;
        }
        .language-toggler-icon{
            display: block;
            height: 30px;
            width: 30px;
            position: relative;
            background-image: url("../pictures/language.svg");
            &:hover{
                transform: rotate(90deg);
                transition: all .2s ease-in-out;
            }
        }
    }
    .navbar-collapse, .language-collapse {
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: $gray-darker;
        border-bottom: 1px solid $gray;
    }
}
.navbar.fixed-top.scrolled {
    background-color: $gray-darker !important;
    transition: background-color .2s linear;
}

// _ JUMBOTRON //
.jumbotron{
    height: 70vh;
    border-radius: 0;
    background: url(/pictures/slide1.jpg);
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    transition: all ease-in-out 1s;
    .page-title{
        font-family: 'Fondamento';
        border-bottom: 2px solid $white;
    }
}

// _ ABOUT //
.about{
    position: relative;
    overflow: hidden;
    .about-bg{
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 8em;
        white-space: nowrap;
        text-transform: uppercase;
        opacity: .1 ;
        z-index: -1;
        -webkit-animation: scroll-text 15s linear infinite;
        animation: scroll-text 15s linear infinite;
    }
    @-webkit-keyframes scroll-text {
        0% {
            -webkit-transform: translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0)
        }
    
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0)
        }
    }
    
    @keyframes scroll-text {
        0% {
            -webkit-transform: translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0)
        }
    
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0)
        }
    }
}

// _ OFFER //
.offer{
    position: relative;
    overflow: hidden;
    .offer-bg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $gray-dark;
        z-index: -1;
    }
    .offer-img{
        position: relative;
        .offer-index-left{
            position: absolute;
            top: -40px;
            left: 10%;
            color: $gray-light;
            font-size: 3rem;
            font-style: italic;
            &::before{
                content: "";
                top: 75%;
                left: 15vw;
                width: 50vw;
                height: 2px;
                background: $gray-light;
                position: absolute;
            }
        }
        .offer-index-right{
            position: absolute;
            top: -40px;
            right: 10%;
            color: $gray-light;
            font-size: 3rem;
            font-style: italic;
            &::before{
                content: "";
                top: 75%;
                right: 15vw;
                width: 50vw;
                height: 2px;
                background: $gray-light;
                position: absolute;
            }
        }
    }
}

// _ CONTACT //
.contact{
    position: relative;
    overflow: hidden;
    .contact-bg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: $gray-dark;
        z-index: -1;
    }
    .contact-details{
        height: 600px;
        background-image: url(../pictures/contact-bg.jpg);
        background-size: cover;
    }
    .form-control{
        background-color: $gray-darker;
        border: none;
        border-radius: 0;
        resize: none;
        &:focus{
            background-color: $gray;
            border-color: $white;
            box-shadow: none;
        }
    }
}

// _ PRODUCTS //
.product-img-wrapper{
    padding-top: 544px/934px*100%;
    position: relative;
    overflow: hidden;
    .product-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .product-img:hover{
        cursor: crosshair;
    }
}

.form-control::-webkit-input-placeholder { color: $gray-light; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $gray-light; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $gray-light; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $gray-light; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $gray-light; }  /* Microsoft Edge */

// _ FOOTER //
.page-footer{
    text-align: center;
    background-color: $gray;
    overflow: hidden;
    .logo{
        height: 40px;
    }
    a{
        text-transform: uppercase;
        color: $white;
        &:hover{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            -webkit-transition: opacity .375s ease,color .375s ease;
            transition: opacity .375s ease,color .375s ease;
        }
    }
    .copy-section{
        font-size: .8em;
    }
}

@media (min-width: 768px){
    .offer{
        .offer-bg{
            width: 90%;
        }    
    }
    .contact{
        .contact-bg{
            width: 90%;
        }
    }
}

@media (min-width: 1200px){
    .about{
        -webkit-transform:translateY(-15%);
        transform: translateY(-15%);
    }
}