@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "partials/_variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "partials/_fonts";
@import "partials/_commons";

// _ NAVBAR //
.navbar{
    .navbar-toggler {
        border: none;
        background: transparent !important;
        &:hover {
            background: transparent !important;
        }
        &:focus {
            outline: none;
        }
        .icon-bar {
            height: 2px;
            width: 30px;
            background-color: white;
            border-radius: 1px;
            display: block;
            transition: all 0.2s;
        }
        .top-bar {
            transform: rotate(45deg) translateX(1px);
            transform-origin: 0 0;
        }
        .middle-bar {
            opacity: 0;
            margin: 8px auto;
        }
        .bottom-bar {
            transform: rotate(-45deg) translateX(-2px);
            transform-origin: 0 0;
        }
        &.collapsed {
            .top-bar {
                transform: rotate(0);      
            }
            .middle-bar {
                opacity: 1;
            }
            .bottom-bar {
                transform: rotate(0);
            }
        }
    }
    .language-toggler {
        border: none;
        background: transparent !important;
        &:hover {
            background: transparent !important;
        }
        &:focus {
            outline: none;
        }
        .language-toggler-icon{
            display: block;
            background-image: url("/pictures/language.svg");
            height: 28px;
            width: 28px;
        }
    }
    .navbar-collapse {
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: $gray-darker;
        z-index: -1;
        border-bottom: 1px solid $gray;
    }
}
.navbar.fixed-top.scrolled {
    background-color: #161616 !important;
    transition: background-color 200ms linear;
}

// _ JUMBOTRON //
.jumbotron{
    height: 75vh;
    border-radius: 0;
    background-image: url('../pictures/jumbo.jpg');
    background-size: cover;
    .page-title{
        font-family: 'Fondamento';
        border-bottom: 2px solid $white;
    }
}

// _ ABOUT //
.about{
    position: relative;
    overflow: hidden;
    .about-bg{
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 8em;
        white-space: nowrap;
        text-transform: uppercase;
        opacity: .1 ;
        z-index: -1;
        -webkit-animation: scroll-text 15s linear infinite;
        animation: scroll-text 15s linear infinite;
    }
    @-webkit-keyframes scroll-text {
        0% {
            -webkit-transform: translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0)
        }
    
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0)
        }
    }
    
    @keyframes scroll-text {
        0% {
            -webkit-transform: translate3d(100%, 0, 0);
            transform:translate3d(100%, 0, 0)
        }
    
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform:translate3d(-100%, 0, 0)
        }
    }
}

// _ OFFER //
.offer{
    position: relative;
    overflow: hidden;
    .offer-bg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $gray-dark;
        z-index: -1;
    }
    .offer-img{
        position: relative;
        .offer-index-left{
            position: absolute;
            top: -7.5%;
            left: 10%;
            color: $gray-light;
            font-size: 3rem;
            font-style: italic;
            &::before{
                content: "";
                top: 75%;
                left: 15vw;
                width: 50vw;
                height: 2px;
                background: $gray-light;
                position: absolute;
                -webkit-transform:translateY(50%);
                transform: translateY(50%);
            }
        }
        .offer-index-right{
            position: absolute;
            top: -7.5%;
            right: 10%;
            color: $gray-light;
            font-size: 3rem;
            font-style: italic;
            &::before{
                content: "";
                top: 75%;
                right: 15vw;
                width: 50vw;
                height: 2px;
                background: $gray-light;
                position: absolute;
                -webkit-transform:translateY(50%);
                transform: translateY(50%);
            }
        }
    }
}

// _ CONTACT //
.contact{
    position: relative;
    overflow: hidden;
    .contact-bg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: $gray-dark;
        z-index: -1;
    }
    .contact-details{
        height: 600px;
        background-image: url(../pictures/475x475.jpg);
        background-size: cover;
    }
    .form-control{
        background-color: $gray-darker;
        border: none;
        border-radius: 0;
        resize: none;
        &:focus{
            background-color: $gray;
            border-color: $white;
            box-shadow: none;
        }
    }
}
.form-control::-webkit-input-placeholder { color: $gray-light; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $gray-light; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $gray-light; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $gray-light; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $gray-light; }  /* Microsoft Edge */

// _ FOOTER //
.page-footer{
    text-align: center;
    background-color: $gray;
    a{
        text-transform: uppercase;
        color: $white;
        &:hover{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            -webkit-transition: opacity .375s ease,color .375s ease;
            transition: opacity .375s ease,color .375s ease;
        }
    }
    .copy-section{
        font-size: .7em;
    }
}

@media (min-width: 768px){
    .offer{
        .offer-bg{
            width: 90%;
        }    
    }
    .contact{
        .contact-bg{
            width: 90%;
        }
    }
}

@media (min-width: 1200px){
    .about{
        -webkit-transform:translateY(-15%);
        transform: translateY(-15%);
    }
}