*{
    font-family: 'Open Sans';
}

body{
    background-color: $gray-darker;
    color: $white;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    text-transform: uppercase;
}

.img-fluid{
    max-width: 100%;
}

.line-link{
    text-decoration: none;
    font-style: italic;
    font-size: 1.25em;
	color: $white;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 3.5em;
	position: relative;
	-webkit-transition: padding .375s ease;
	transition: padding .375s ease;
	&:hover{
		text-decoration: none;
	}
	&::after{
		background-size: 0 1px;
	}
	&::before{
		background-position: top right;
	}
	&::after,
	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		height: 1px;
		width: 60px;
		background-image: -webkit-gradient(linear,left top,right top,from($white),to($white));
		background-image: linear-gradient(to right,$white 0,$white 100%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		-webkit-transition: background .375s ease,-webkit-transform .375s ease;
		transition: background .375s ease,-webkit-transform .375s ease;
		transition: background .375s ease,transform .375s ease;
		transition: background .375s ease,transform .375s ease,-webkit-transform .375s ease;
	}
}

.line-link-reverse{
	padding-right: 3.5em;
	&:hover{
		text-decoration: none;
	}
	&::after,
	&::before{
		left: auto;
		right: 0;
	}
}

@media (hover: hover) and (pointer: fine) {
	.line-link{
		&:hover{
			padding-left: 4em;
			&::before{
				ackground-size: 0 1px;
				-webkit-transform: translateX(.5em);
				transform: translateX(.5em);
			}
			&::after{
				background-size: 100% 1px;
				-webkit-transform: translateX(.5em);
				transform: translateX(.5em);
				-webkit-transition-delay: .2s;
				transition-delay: .2s;
			}
		}
	}

	.line-link-reverse{
		&:hover{
			padding-left: auto;
			padding-right: 4em;
			&::before,
			&::after{
				-webkit-transform: translateX(-.5em);
				transform: translateX(-.5em);
			}
		}
	}
}